<div class="help_panel">
  <h3 style="text-align: center">Help</h3>
  <h4 style="text-align: center">Controls</h4>
  <p>Use the mouse to pan and the scroll-wheel to zoom the plot.</p>
  <p>
    Click on a node to unfold it to the next level. If a node is unfolded, click
    it again to refold it.
  </p>
  <p>Right-click a node to force the label to be displayed.</p>
    <p>Click on a node to display a table with detailed information about the node.</p>
  <h4 style="text-align: center">Allele Details</h4>
  <p>
    Click on an allele node to display a table with detailed information about
    the node.
  </p>
    <p>
        From the table you can click to display other diseases that are associated with the allele as well as view the highest associated odds ratio and p-value for that allele.

        By clicking on a disease in the table, you can add the disease to the filter list.
    </p>
  <h4 style="text-align: center">Filters</h4>
  <p>
    Use the add filter button to add a filter. You can filter by gene,
    chromosome, or p-value. You can also filter by the number of SNPs in a gene.
    You can add multiple filters which will be combined with an AND operator.
  </p>
</div>
