{% extends "base.html" %}
{% load static %}
{% block title %}Index{% endblock %}

{% block head %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<style>
    .node circle {
        fill: #999;
    }
    .node text {
        font: 10px sans-serif;
    }
    .link {
        fill: none;
        stroke: #555;
        stroke-opacity: 0.4;
    }
</style>
{% endblock %}

{% block content %}
    <div id="trees-container"></div>

<script type="text/javascript" src="{% static 'mainapp/js/mindmap.js' %}"></script>

{% endblock %}
