{% extends "base.html" %} {% load static %} {% block title %}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'mainapp/css/index.css' %}"/>
{% endblock %} {% block content %}

    <div class="container-fluid">
        <div class="row">
            <!-- Sigma container box and toolbar -->
            <div class="col-md-6 left-column">
                <div id="sigma-container"></div>
                <div class="toolbar-container">
                    <div class="navbar-brand" style="display: flex; flex-direction: row">
                        <img
                                src="{% static 'mainapp/img/sussex_logo.webp' %}"
                                alt="Sussex Logo"
                                style="height: 50px; align-self: center">
                        <img
                                src="{% static 'mainapp/img/Vis-PheWAS-Logo.webp' %}"
                                alt="Vis-PheWAS Logo"
                                style="height: 50px; margin-left: 3px"
                        >
                    </div>
                    <div id="toolbar-buttons">
                        <button class="toggle-button" style="display: none"> <!-- Filter panel toggle button hidden at start-->
                            <i class="fa fa-chevron-up"></i> <!-- This is the chevron icon -->
                        </button>
                        <button class="button btn btn-primary" onclick="addFilter()">
                            Add Filter
                        </button>
                        <button class="button btn btn-danger" onclick="clearFilters()">
                            Clear Filters
                        </button>
                        <button class="button btn btn-success" onclick="applyFilters()">
                            Apply Filters
                        </button>
                        <button class="button btn btn-info" style="color: white" onclick="exportQuery()">
                            Export Filtered Data
                        </button>
                    </div>

                </div>
                <div class="toolbar-wrapper">{% include 'mainapp/toolbar.html' %}</div>
            </div>

            <!-- Blank box for text and other content -->
            <div
                    class="col-md-6 right-column"
                    style="height: 100vh; display: none"
            >
                <div class="info-container" style="background-color: #80e5fa">
                    Click on an allele to display information
                </div>
            </div>
        </div>
    </div>

    <!-- Side Panel -->
    <div id="side-panel" class="side-panel">
        <div class="side-panel-content">
            <!-- Initial content (optional) -->
        </div>
    </div>

    <!-- Tabs -->
    <div id="tab-container">
        <!-- Options Tab -->
        <div id="options-tab" class="tab options" onclick="toggleSidePanel('options')">
            Options
        </div>
        <div id="help-tab" class="tab help" onclick="toggleSidePanel('help')">Help</div>
    </div>

    <!-- Hidden content panels -->
    <div id="options-panel" style="display: none">
        {% include "mainapp/options.html" %}
    </div>

    <div id="help-panel" style="display: none">
        {% include "mainapp/help.html" %}
    </div>

    <script src="{% static 'mainapp/js/sidePanel.js' %}"></script>
    <script type="module" src="{% static 'mainapp/js/bundle.js' %}"></script>

    <!-- Script to toggle the side panel and control contents-->

{% endblock %}
