{% load static %}
<script src={% static 'som/js/som.js' %}></script>
<div class="panel tools_panel">
    <div id="som_options" style="align-items: center; display: flex; flex-direction: column">
        <h4>Generate Self Organising Map</h4>
        <button class="button btn btn-info dataAction" onclick="generateSOM('', 'disease')" style="color: white; margin-bottom: 1%">Generate Disease SOM</button>
        <button class="button btn btn-info dataAction" onclick="generateSOM('', 'snp')" style="color: white;">Generate Allele SOM</button>
    </div>
</div>

