<div class="toolbar" style="background-color: aliceblue">
                        <div id="filters-container">
                            <!-- Filters generated here -->
                        </div>
                    </div>
                    <div id="toolbar-buttons">
                        <button class="button" onclick="addFilter()">Add Filter</button>
                        <button class="button" onclick="clearFilters()">Clear Filters</button>
                        <button class="button" onclick="applyFilters()">Apply Filters</button>
                    </div>