<div class="toolbar" style="background-color: aliceblue">
    <div id="filters-container">
        <div class="filter-group">
            <label for="field-select">Field:</label>
            <select id="field-select" onchange="updateFilterInput(this)">
                {% for field in model_fields %}
                <option value="{{ field }}">{{ field }}</option>
                {% endfor %}
            </select>
            <div id="filter-input-container">
                <!-- Filter input will be dynamically generated here -->
            </div>
            <button class="button" onclick="addFilter()">+</button>
        </div>
    </div>

