html, body, .container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.row {
    height: 100%;
}

.col-md-6 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-md-6.left-column {
    padding: 0;
    width: 100%; /* Full width initially */
    transition: width 0.5s ease; /* Smooth transition for width change */
}

.col-md-6.right-column {
    padding-right: 0;
    padding-left: 1%;
    width: 0; /* Hidden initially */
    transition: width 0.5s ease; /* Smooth transition for width change */
}

#sigma-container {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    z-index: 1; /* Set a lower z-index to ensure it's below the options tab */
    position: relative; /* Ensure it follows the stacking context */
    background-color: aliceblue;
}

.right-column {
    display: flex;
    flex-direction: column;
    background-color: #80e5fa;
    height: 100%;
    padding: 0;
    overflow-y: auto;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

#info-container {
    max-width: 100%;
    height: 100%;
    display: none; /* Hide the right panel initially */
    width: 50%;
    transition: width 0.5s ease; /* Smooth transition for width change */
    overflow-y: auto;
}

table {
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ddd;
}

body {
    font-family: Arial, sans-serif;
}

.toolbar {
    padding-top: 10px;
    background-color: #97e4f6;
    display: none; /* Hide the toolbar initially */
}

.filter-group {
    margin-bottom: 10px;
}

.filter-group label {
    margin-right: 10px;
}

.filter-group select,
.filter-group input,
.filter-group button {
    margin-right: 10px;
}

.left-column {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.toolbar-wrapper {
    width: 100%;
    max-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

#filters-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.filter-group {
    flex: 1 1 33%;
    box-sizing: border-box;
    padding: 5px;
}

.filter-group {
    flex: 1 1 18%;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.filter-group label,
.filter-group select,
.filter-group input,
.filter-group button {
    width: 100%;
    margin-bottom: 5px;
}

@media (max-width: 1024px) {
    .filter-group {
        flex: 1 1 50%;
    }
}

@media (max-width: 768px) {
    .filter-group {
        flex: 1 1 100%;
    }

    .filter-group label,
    .filter-group select,
    .filter-group input,
    .filter-group button {
        font-size: 0.8em;
        padding: 5px;
    }

    .filter-input {
        width: 100%;
    }

    .toolbar {
        font-size: 0.8em;
        padding: 5px;
    }
}

.navbar-brand {
    font-size: 1.5em;
    padding-left: 1%;
    justify-content: space-between;
}

.toolbar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #97e4f6;
}

#toolbar-buttons {
    display: flex;
    width: 80%;
    justify-content: center;
    align-self: center;
    background-color: #97e4f6;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
}


#toolbar-buttons button {
    flex: 1;
    margin: 0 5px;
    text-align: center;
    border-radius: 20px;
}

.switch-container {
    display: flex;
    align-items: center;
}

.switch-label-left,
.switch-label-right {
    margin: 0 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.side-panel-content {
    color: black;
    position: relative;
}

.resolutionSwitchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.panel h3,
.panel h4 {
    text-align: center;
}

.side-panel {
    position: fixed;
    right: -18%; /* Change from left to right */
    top: 0;
    width: 18%;
    height: 100%;
    background: #80e5fa;
    transition: right 0.3s ease; /* Change from left to right */
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Adjust shadow direction */
    z-index: 1000;
    overflow-y: auto;
}

.side-panel.open {
    left: 0; /* Change from left to right */
}

#tab-container {
    position: fixed;
    top: 18%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
    transition: right 0.3s ease; /* Match the transition of the side panel */
}

.tab {
    padding: 15px 10px;
    background: #007bff;
    color: white;
    cursor: pointer;
    border: 1px solid #2196F3;
    margin-bottom: -1px;
    white-space: nowrap;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transition: 0.3s ease;
}

.tab:hover {
    background: #0056b3;
}

.side-panel.open ~ #tab-container {
    left: 18%; /* Match the width of the side panel */
}

.toggle-button .fa {
    transition: transform 0.3s ease-in-out;
}

.toggle-button .fa-chevron-up {
    transform: rotate(180deg);
}