{% extends 'base.html' %}
{% load static %}
<!-- Set the title of the page to be the type of SOM visualization -->
{% block title %} - {{ type|capfirst }} SOM Visualization{% endblock %}
{% block head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{% static 'mainapp/js/som.js' %}"></script>
    <style>
        .checkbox-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; /* Center the checkboxes horizontally */
            gap: 20px; /* Add space between checkboxes */
        }

        .checkbox-container label {
            display: block;
            margin-bottom: 5px;
            text-align: center;
        }

        .allele-filters, .disease-filters {
            align-items: center;
            text-align: center;
            margin-bottom: 20px;
        }

        #som-visualisation {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #80e5fa;
        }

    </style>
{% endblock %}
{% block content %}
    <div id="som-visualisation" style="display: flex; flex-direction: column; align-items: center">
        <h1>{% if type == 'disease' %}Disease {% else %} SNP {% endif %} SOM Visualization</h1>
        <form id="filter-form" style="display: flex; flex-direction: column" onsubmit="handleSubmit(event)">
            {% if type == 'disease' %}
                <div class="disease-filters" style="display: flex; align-content: center; flex-direction: column">
                <h2 style="align-self: center">Filter by Disease Category</h2>
                <div class="checkbox-container">
                    {% for category in categories %}
                        <input type="checkbox" id="{{ category }}" name="filters" value="{{ category }}"
                                {% if not cleaned_filters %}
                               checked
                                {% else %}
                                    {% if category in cleaned_filters %} checked {% endif %}
                                {% endif %}
                        >
                        <!-- Check the checkbox if it is in the selected filters -->
                        <label for="{{ category }}">{{ category }}</label>
                    {% endfor %}
                </div>
            {% endif %}
            {% if type == 'snp' %}
                <div class="allele-filters" style="display: flex; align-content: center; flex-direction: column">
                <h2 style="align-self: center">Filter by Gene Name</h2>
                <div class="checkbox-container">
                    {% for category in categories %}
                        <input type="checkbox" id="{{ category }}" name="filters" value="{{ category }}"
                                {% if not cleaned_filters %}
                               checked
                                {% else %}
                                    {% if category in cleaned_filters %} checked {% endif %}
                                {% endif %}
                        >
                        <!-- Check the checkbox if it is in the selected filters -->
                        <label for="{{ category }}">{{ category }}</label>
                    {% endfor %}
                </div>
            {% endif %}
            <button type="button" class="btn btn-primary" style="margin: 1%" onclick="toggleCheckboxes()">
                Select/Deselect All
            </button>

            <!-- Get a slider for number of clusters -->
            <div class="cluster-slider" style="align-self: center">
                <label for="clusters">Number of Clusters:</label>
                <input type="range" id="clusters" name="clusters" min="2" max="10" value={{ num_clusters }}>
                <!-- Add a tooltip showing the current value of the slider -->
                <span id="clusters-value">{{ num_clusters }}</span>
            </div>
            </div>
            <div style="display: flex;flex-direction: row;justify-content: space-around;margin-top: 10px;">

                <!-- Add a button to submit the form -->
                <button type="submit" class="button btn btn-success" style="align-self: normal; border-radius: 20px">
                    Generate SOM with Selection
                </button>
                <!-- Add a button to download the cluster results CSV -->
                <button class="btn btn-info dataAction" type="button">
                    <a style="text-decoration: none;color: whitesmoke;text-shadow: 1px 0 3px black;"
                       href="{{ csv_path }}" download="cluster_results.csv">Download Cluster Results CSV</a>
                </button>
            </div>
        </form>


        <div id="plotly-div">
            {{ graph_div|safe }}
        </div>

    </div>


    <script>
        function getSelectedFilters() {
            const selectedFilters = [];
            let baseFilter = ''; // Initialize the base filter string as empty
            // Set the base filter string based on the type
            {% if type == 'disease' %}
                baseFilter = 'category_string:==:'; // Set the base filter string based on the type
            {% endif %}
            {% if type == 'snp' %}
                baseFilter = 'gene_name:==:'; // Set the base filter string based on the type
            {% endif %}


            document.querySelectorAll('input[name="filters"]:checked').forEach((checkbox) => {
                selectedFilters.push(baseFilter + checkbox.value);
            });

            // Join filters with " OR " to match the format
            const joinedFilters = selectedFilters.join(' OR ');
            // Encode the joined filters to be used in the URL
            return encodeURIComponent(joinedFilters);
        }


        // Function to handle form submission
        function handleSubmit(event) {
            event.preventDefault(); // Prevent form submission and page reload
            const filters = getSelectedFilters();
            const num_clusters = document.getElementById('clusters').value;
            const type = "{{ type }}";
            console.log("Number of clusters: ", num_clusters);
            console.log("Type: ", type);
            // Call the generateSOM function with the filters, type and number of clusters
            generateSOM(filters, type, num_clusters);
        }

        // Function to update the displayed value of the slider
        document.getElementById('clusters').addEventListener('input', function () {
            document.getElementById('clusters-value').textContent = this.value;
            console.log(this.value);
        });

        // Function to uncheck or check all checkboxes
        function toggleCheckboxes() {
            const checkboxes = document.querySelectorAll('input[name="filters"]');
            // If more are checked than unchecked, uncheck all
            if (checkboxes.length === document.querySelectorAll('input[name="filters"]:checked').length) {
                checkboxes.forEach((checkbox) => {
                    checkbox.checked = false;
                });
            }
            else {
                // Otherwise, check all
                checkboxes.forEach((checkbox) => {
                    checkbox.checked = true;
                });
            }
        }

    </script>
    </body>
{% endblock %}