<!DOCTYPE html>
<html>
<head>
    <title>Generate SOM</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function generateSOM() {
            $.ajax({
                url: "{% url 'send_data_to_som' %}",
                type: 'GET',
                data: {
                    'filters': '',  // Add any filters you want to apply
                    'type': 'allele'  // Or 'allele'
                },
                success: function(response) {
                    // If successful, redirect to the SOM visualization page
                    window.location.href = "/som/SOM/?data_id=" + response.data_id;
                },
                error: function(xhr, status, error) {
                    alert('Failed to generate SOM: ' + error);
                }
            });
        }
    </script>
</head>
<body>
    <h1>Generate SOM for Disease Clustering</h1>
    <button onclick="generateSOM()">Generate SOM</button>
</body>
</html>
